body {
    color: #888;
}

h1, h2, h3, h4 {
    color: #555;
    font-family: Arvo;
}

.social{
    display: block;
    margin: 10px 0;
}
.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social ul li {
    display: inline-block;
    margin: 0 5px;
}
.social li a {
    font-size: 1em;
}

.cv-block {
    border-bottom: 1px solid #d28445;
}
.cv-block h2 {
    font-size: 1.2rem;
}
.cv-block h3 {
    margin-bottom: 0px;
    font-size: 1rem;
}
.cv-block .time,
.copyright {
    font-size: 0.8rem;
    color: #adadad;
}

.github-corner {
    fill: #fff;
    color: #d28445;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}
@media (min-width: 48em) {
    .github-corner {
        fill: #d28445;
        color: #fff;
    }
}