<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <div class="social">
        <ul>
            {% for link in site.social %}
                <li><a class="sidebar-nav-item" href="{{ link.link }}" target="_blank" title="{{ link.text }}"><i class="fa {{ link.icon }}"></i></a></li>
            {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>
